body {
    background: linear-gradient(to left, #2c102e 50%, #4d225f );
    border: 0;
    margin: 0;
}
header {
    display: flex;
    /* margin: 0 auto; */
    justify-self: center;
    position: fixed;
    margin-left: 90px;
    margin-top: 10px;
    border-bottom: solid #E0F9FE;
    width: 100%;
    padding-left: 100px;
    background-color: linear-gradient(to left, #2c102e 50%, #4d225f );
}
header img {
    width: 200px;
    display: flex;
    /* margin: 0 auto; */
}
#lupa{
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
#barraPesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 300px;
}
#barraPesquisa input {
    height: 30px;
    width: 300px;
    border-radius: 10px;
}
.barraNavegacao {
    display: flex;
    font-size: 25px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* margin-top: 10px; */
    color: #E0F9FE;
}
aside {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #2c102e;
    height: 100vh;
    width: 90px;
    align-items: center;
    justify-content: space-evenly;
    border-right: solid  #E0F9FE;
}
.iconSidebar{
    width: 50px;
    margin-bottom: -5px;
}
button {
    all: unset;

    /* margin-left: 2px;
    /* margin-top: 30px; */
    /* border-radius: 50px; */ 
}
a {
    text-decoration: none;
    color: inherit;
}
/* #selecionado {
    background-color: bisque;
} */
.barraNavegacao img {
    margin-bottom: -30px;
}
aside img {
    width: 50px;
}