body {
    padding: 0%;
    margin: 0%;
    top: 0%;
    background: linear-gradient(to left, #2c102e 50%, #4d225f );
}
header {
    display: flex;
    flex-direction: row;
    justify-self: center;
    position: fixed;
    width: calc(100%);
    color: #E0F9FE;
    background: linear-gradient(to left, #2c102e 50%, #4d225f );
    border-bottom: solid #E0F9FE;
}
.voltar {
    align-self: center;
    padding-right: 50px;
    padding-left: 30px;
}
.voltar button {
    all: unset;
    padding-left: 30px;
}
.voltar button img {
    width: 35px;
}
article img{
    width: 100%;
    padding-top: 100px;
}