body {
    padding: 0%;
    margin: 0%;
    top: 0%;
    background: linear-gradient(to left, #2c102e 50%, #4d225f );
}
header {
    display: flex;
    flex-direction: row;
    /* margin: 0 auto; */
    justify-self: center;
    position: fixed;
    width: calc(100%);
    color: #E0F9FE;
    /* left: 90px; */
    /* padding-left: 500px; */
    background: linear-gradient(to left, #2c102e 50%, #4d225f );
    /* padding-top: 10px; */
    border-bottom: solid #E0F9FE;
}
.voltar {
    align-self: center;
    padding-right: 50px;
    padding-left: 30px;
}
.voltar button {
    all: unset;
    /* width: 35px; */
    padding-left: 30px;
}
.voltar button img {
    width: 35px;
}
 /* main { */
    /* display: flex; */
    /* text-align: center; */
.resenha img {
    width: 500px;
}
.resenha {
    display: flex;
    padding: 30px;
    /* text-align: end; */
    /* justify-self: end; */
    /* max-width: 300px; */
}
.cartaz {
    margin-left: 10px;
    width: 500px;
    border-radius: 10px;
    border: #e6060d6d solid;
    padding: 10px;
}
.resenha {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    text-align: center;
    /* width: 500px; */
    color: aliceblue;
    /* margin-left: 45%; */
    top: 80px;
    padding-top: 100px;
    font-size: 18px;
    
} 
#especial {
    color: #e6060d6d;
}  
.informacoes {
    display: flex;
    flex-direction: column;
}

